{% extends "blog/base.html" %}

{% block content %}

<!-- Jumbotron Header -->
    <center><header class="jumbotron my-4">
      <h1 class="display-3">Blog Home</h1>
      <p class="lead">Welcome to my Blog</p>
    </header></center>
      
  <div class="container">

    <!-- Blog db post loop -->
    <div class="row text-center">
      {% for post in posts %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://cdn-media-1.freecodecamp.org/images/0*ngXgBNNdx6iiWP8q.png" alt="">
          <div class="card-body">
            
            <h4 class="card-title">{{ post.title }} </h4>
            <p class="card-text">{{ post.description }}</p>
            <p class="card-text">By {{ post.author }} on {{ post.date_posted }}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Read Post</a>
         
          </div>
        </div>
      </div>

    <!-- /.row -->
    {% endfor %}
  </div>
  <!-- /.container -->

  



{% endblock content %}